* {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Pictures/Yellow.jpg), url(Pictures/Red.jpg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: 540px 540px, cover;
    background-position: center, center;
}

.container {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background: #cd1d33;
}

.header h1 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: -8px;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 0 0 10px white;
}

h2 {
    margin-top: 2px;
    margin-bottom: 3px;
    font-family: 'Caveat', cursive;
    text-shadow: 0 0 10px white;
}

.key {
    border: 3px solid black;
    border-radius: 5px;

    width: 100px;
    height: 100px;

    text-align: center;
    color: black;
    background: white;
    text-shadow: 0 0 2px #dc253d;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: all 0.07s;
}

.runaway_key {
    border: 3px solid black;
    border-radius: 5px;

    width: 33px;
    height: 200px;

    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background: white;
    text-shadow: 0 0 10px #dc253d;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: all 0.07s;
}

.sound-effects {
    display: flex;
    flex-direction: row;
}

.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}

kbd {
    display: block;
    font-size: 60px;
}

.sound {
    font-size: 10px;
    letter-spacing: 1px;
    color: black;
}

.runaway {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.footer {
    margin-top: -6px;
    padding: 10px;
    text-shadow: 0 0 5px white;
}